.comment {
  margin: 2.5rem 1rem 0 1rem;
  background-color: #ffffff;
}

.comment__title {
  font-family: avenir;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 2rem 0;
}

.comment__img {
  background-image: url("../assets/images/Images/Mohan-muruge.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 1.5rem 1rem 0 0;
}

.comment__name-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e1e1e1;
}

.comment__input-container {
  display: flex;
  flex-direction: column;
}

.comment__input-container--text {
  font-size: 0.875rem;
  color: #afafaf;
  margin: 0 0 0.2rem 0;
  line-height: 1.375rem;
  font-family: avenir;
}

.comment__text-container {
  font-family: avenir;
  font-size: 0.8125rem;
  border: 0.063rem solid #afafaf;
  border-radius: 0.25rem;
  width: 14rem;
  background-color: #fafafa;
  border-color: #afafaf;
  resize: none;
}

.comment__text-container:focus {
  border: 0.125rem solid #0095ff;
  outline-width: 0;
}

.comment__text-container--first {
  margin: 0 0 1rem 0;
  height: 6rem;
  padding: 0.625rem;
}

.comment__button {
  font-family: avenir;
  background-color: #0095ff;
  border-style: none;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  text-align: center;
  width: 14rem;
  margin: 0 0 1.5rem 0;
  outline-width: 0;
  padding: 0;
}

.comment__button:hover {
  background-color: #004892;
}

.comment__default {
  border-bottom: 0.063rem solid #e1e1e1;
}

.comment__header {
  display: flex;
  justify-content: space-between;
}

.comment__header--image-first {
  height: 3rem;
  width: 3rem;
  float: left;
  border-radius: 2rem;
  margin-top: 1.5rem;
  background-color: #e1e1e1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.comment__header--name {
  color: #323232;
  font-family: avenir;
  font-size: 0.8125rem;
  padding: 1.75rem 0 0 1rem;
  margin: 0;
}

.comment__header--date {
  color: #afafaf;
  font-family: avenir;
  font-size: 0.8125rem;
  margin: 0;
  padding: 1.75rem 0 0 0;
}

.comment__text-container-default {
  display: flex;
}

.comment__text-container-default--comment {
  word-wrap: break-word;
  width: 96%;
  color: #323232;
  font-size: 0.8125rem;
  font-family: avenir;
  margin: 0;
  padding: 1rem 0 1.5rem 1rem;
}

@media only screen and (min-width: 768px) {
  .comment {
    background-color: #ffffff;
    margin: 4rem 1.5rem 0 1.5rem;
  }
  .comment__title {
    margin: 0 0 2rem 0;
  }
  .comment__img {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.7rem 1.25rem 0 0;
  }
  .comment__name-container {
    display: flex;

    justify-content: center;
    border-bottom: 0.125rem solid #e1e1e1;
    padding-bottom: 1.5rem;
  }
  .comment__input-container {
    display: flex;

    flex-direction: row;
  }
  .comment__input-container--text {
    font-family: avenir;
    color: #afafaf;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 0.5rem 0;
  }
  .comment__input-text-container {
    display: flex;

    flex-direction: column;
  }
  .comment__text-container {
    font-family: avenir;
    font-size: 1rem;
    border: 0.063rem solid #323232;
    border-radius: 0.25rem;
    width: 27.5rem;
    background-color: #fafafa;
    border-color: #afafaf;
    resize: none;
  }
  .comment__text-container:focus {
    border: 0.125rem solid #0095ff;
    outline-width: 0;
  }
  .comment__text-container--first {
    margin: 0;
    height: 3rem;
    padding: 0.625rem 1rem 0 1rem;
  }
  .comment__button-container {
    align-self: flex-end;
    margin: 0 2.5rem 0 1rem;
  }
  .comment__button {
    text-align: center;
    width: 10rem;
    margin: 0;
    outline-width: 0;
    padding: 0;
    align-self: flex-end;
    font-family: avenir;
    font-size: 1rem;
    background-color: #0095ff;
    border-style: none;
    height: 3rem;
    border-radius: 0.25rem;
    color: #ffffff;
  }
  .comment__button:hover {
    background-color: #004892;
  }

  .comment__default-comment {
    display: flex;
    flex-direction: column;
  }

  .comment__header {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  .comment__header--image-first {
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }
  .comment__header--name {
    color: #323232;
    font-family: avenir;
    font-size: 1rem;
    padding: 1.75rem 1rem 0 3.9375rem;
    margin: 0;
  }
  .comment__header--date {
    color: #afafaf;
    font-family: avenir;
    font-size: 1rem;
    margin: 0;
    padding: 1.75rem 0 0 0;
  }
  .comment__text-container-default {
    display: flex;
    border-bottom: 0.063rem solid #e1e1e1;
  }
  .comment__text-container-default--comment {
    color: #323232;
    width: 42rem;
    font-size: 0.875rem;
    font-family: avenir;
    margin: 0;
    padding: 1rem 0 1.5rem 4rem;
  }
}

@media only screen and (min-width: 1249px) {
  .comment {
    width: 44.5rem;
    background-color: #ffffff;
    margin: 4rem 0 1.875rem 11.25rem;
  }

  .comment__title {
    margin: 0 0 2rem 0;
  }

  .comment__img {
    height: 3rem;
    border-radius: 2rem;
    margin: 1.7rem 1.25rem 0 0;
    width: 3rem;
  }

  .comment__name-container {
    display: flex;
    justify-content: flex-start;
  }

  .comment__input-container {
    display: flex;
  }

  .comment__input-container--text {
    font-family: avenir;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 0.5rem 0;
    color: #afafaf;
  }

  .comment__input-text-container {
    display: flex;
    flex-direction: column;
  }

  .comment__text-container {
    font-family: avenir;
    width: 27.25rem;
    background-color: #fafafa;
    border-color: #afafaf;
    resize: none;
    font-size: 0.8125rem;
    border: 1px solid #afafaf;
    border-radius: 0.25rem;
  }

  .comment__text-container:focus {
    border: 0.063rem solid #0095ff;
    outline-width: 0;
  }

  .comment__text-container--first {
    margin: 0;
    height: 3rem;
    padding: 0.625rem 1rem 0 1rem;
  }

  .comment__button-container {
    align-self: flex-end;
    margin: 0 0 0 1rem;
  }

  .comment__button {
    text-align: center;
    width: 10rem;
    outline-width: 0;
    padding: 0;
    align-self: flex-end;
    font-family: avenir;
    font-size: 1rem;
    background-color: #0095ff;
    border-style: none;
    height: 3rem;
    border-radius: 0.25rem;
    color: #ffffff;
  }

  .comment__button:hover {
    background-color: #004892;
  }
}
